server:
  address: ${server_private_address}

spring:
  datasource:
    url: ${datasource_url}
    username: ${datasource_username}
    password: ${datasource_password}
  jpa:
    generate-ddl: true
    hibernate:
  redis:
    host: ${redis_url}
    port: ${redis_port}

logging:
  slack:
    webhook-uri: ${slack_webhook_uri}
  config: classpath:logback-spring.xml

kakao:
  redirect_uri: http://${server_public_address}/v1/user/login/kakao
  client_id: ${kakao_client_id}
  api_url:
    token: https://kauth.kakao.com/oauth/token
    information: https://kapi.kakao.com/v2/user/me

security:
  jwt:
    token:
      secret-key: ${oauth_secret_key}
      access-token-expire-length: ${access_token_expire_length}
      refresh-token-expire-length: ${refresh_token_expire_length}

ncp:
  s3:
    end-point: ${s3_end_point}
    region-name: ${s3_region_name}
    original-bucket-name: ${s3_original_bucket_name}
    encoded-bucket-name: ${s3_encoded_bucket_name}
    access-key: ${s3_access_key}
    secret-key: ${s3_secret_key}

  shorts:
    file-location-prefix:
      head: ${shorts_file_location_prefix_head}
      tail: ${shorts_file_location_prefix_tail}
    streaming-url-prefix:
      head: ${streaming_url_prefix_head}
      tail: ${streaming_url_prefix_tail}

  thumbnail:
    file-location-prefix:
      head: ${thumbnail_file_location_prefix_head}
      tail: ${thumbnail_file_location_prefix_tail}
    thumbnail-url-prefix:
      head: ${thumbnail_url_prefix_head}
      tail: ${thumbnail_url_prefix_tail}

feign-client:
  slack:
    report:
      bot-nickname: ${report_slack_bot_nickname}
      web-hook-uri: ${report_slack_webhook_uri}
