server:
  address: ${server_private_address}

spring:
  datasource:
    url: ${datasource_url}
    username: ${datasource_username}
    password: ${datasource_password}
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create # 일단 테스트용으로 create 사용, 이후 ddl 만들면 validate 로 수정 필요

logging:
  slack:
    webhook-uri: ${slack_webhook_uri}
  config: classpath:logback-spring.xml

kakao:
  redirect_uri: http://${server_public_address}/v1/user/login/kakao
  client_id: ${kakao_client_id}
  api_url:
    token: https://kauth.kakao.com/oauth/token
    information: https://kapi.kakao.com/v2/user/me

security:
  jwt:
    token:
      secret-key: ${oauth_secret_key}
      access-token-expire-length: ${access_token_expire_length}
      refresh-token-expire-length: ${refresh_token_expire_length}

ncp:
  s3:
    end-point: ${s3_end_point}
    region-name: ${s3_region_name}
    bucket-name: ${s3_bucket_name}
    access-key: ${s3_access_key}
    secret-key: ${s3_secret_key}
  shorts:
    streaming-url-prefix:
      head: ${streaming_url_prefix_head}
      tail: ${streaming_url_prefix_tail}
    thumbnail-url-prefix:
      head: ${thumbnail_url_prefix_head}
      tail: ${thumbnail_url_prefix_tail}