spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3306/phochak
    username: phochak
    password: qpdjrmflftm
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
---
spring:
  config:
    activate:
      on-profile: real
  datasource:
    url: jdbc:mysql://realdb_address
    username: realdb_username
    password: realdb_password
  jpa:
    hibernate:
      ddl-auto: none
